#載入LineBot所需要的模組 
from flask import Flask, request, abort  
from linebot import (
　　LineBotApi, WebhookHandler
 ) 
from linebot.exceptions import (
　　InvalidSignatureError
 ) 
from linebot.models import *